<div class="col mb-6">
  <div class="card h-100">
    <div class="view overlay">
      <img class="card-img-top" src="../../assets/{{ trabajadores[i].foto }}" alt="Card image cap" />

      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <div class="card-body">
      <h4 class="card-title">{{ trabajadores[i].nombre }}</h4>

      <h4>({{ trabajadores[i].cargo }})</h4>

      <p class="card-text">
        Votos: {{ trabajadores[i].votos }}
        <!-- Mostrar votos del trabajador -->
        <!-- <img src="xxxx" (click)="xxxx">
              <img src="xxxx" (click)="xxxx"> -->
        <img src="../../assets/like.jpg" alt="" (click)="like(trabajadores[i].id)"/>
        <!-- Mostrar en src imagen like.jpg   y llamar a funcion like   con el id del trabajador -->
        <img src="../../assets/unlike.jpg" alt="" />
        <!-- Mostrar en src imagen unlike.jpg y llamar a funcion unlike con el id del trabajador -->
      </p>
    </div>

    <div class="text-center">
      <!-- <button type="button" class="btn btn-danger" (click)="xxxx">Borrar Trabajador</button> llamar a funcion eliminar con el id del trabajador -->

      <button type="button" class="btn btn-danger">Borrar Trabajador</button>
      <!--llamar a funcion eliminar con el id del trabajador -->
    </div>
  </div>

  <!-- Card -->
</div>